@import '../../assets/styles/media';

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    80% {
        transform: translateY(rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about {
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    &-main-content {
        display: flex;
        flex-direction: row;

        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .about-photo {
                width: 200px;
                height: 200px;
            }
    
            .about-description {
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                // line-height: 2rem;
                // margin-top: 50px;
            }
        }
    }

    &-overlay {
        position: relative;
        opacity: 0;
        animation: moveInTop 0.8s ease-out;
        animation-fill-mode: forwards;

        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 10px;
            width: 200px;
            height: 200px;
            border-radius: 25px;
            margin-bottom: 20px;
            background-color: rgba(218,248,255,0.7);
        }
    }

    &-photo {
        opacity: 0;
        width: 200px;
        height: 200px;
        border-radius: 25px;
        margin-bottom: 20px;
        animation: moveInTop 0.8s ease-out;
        animation-fill-mode: forwards;

        &:hover {

        }
    }

    &-description {
        opacity: 0;
        padding: 20px;
        margin-left: 25px;
        line-height: 1.4rem;
        // margin-top: 50px;
        animation: moveInTop 0.8s ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }

    &-additional-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .about-additional-photo {
            flex: 0 1 auto;
            margin: 10px;
        }

        .about-overlay {
            width: 300px;
            height: 171px;
            margin-bottom: 80px;
            text-align: center;

            &:before {
                width: 300px;
                height: 171px;
                margin-bottom: 40px;
            }
        }

        .about-photo {
            width: 300px;
            height: 171px;
            object-fit: cover;
            // margin-bottom: 40px;

            &-description {
                font-size: 0.7rem;
                display: inline-block;
            }

        }

        .first {
            animation-delay: 1s;
        }
  
        .second {
            animation-delay: 1.25s;
        }

        .third {
            animation-delay: 1.5s;
        }

        .fourth {
            animation-delay: 1.75s;
        }

        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

    }

    
}

.about::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}