@import '../../assets/styles/media';

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    80% {
        transform: translateY(rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about {
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &-main-content {
        display: flex;
        flex-direction: row;

        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .about-photo {
                width: 200px;
                height: 200px;
            }
    
            .about-description {
                padding-left: 0px;
                padding-right: 0px;
                // line-height: 2rem;
                // margin-top: 50px;
            }
        }
    }

    &-overlay {
        position: relative;
        opacity: 0;
        animation: moveInTop 0.8s ease-out;
        animation-fill-mode: forwards;

        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 10px;
            width: 200px;
            height: 200px;
            border-radius: 25px;
            margin-bottom: 20px;
            background-color: rgba(218,248,255,0.7);
        }
    }

    &-photo {
        opacity: 0;
        width: 200px;
        height: 200px;
        border-radius: 25px;
        margin-bottom: 20px;
        animation: moveInTop 0.8s ease-out;
        animation-fill-mode: forwards;

        &:hover {

        }
    }

    &-description {
        opacity: 0;
        padding: 20px;
        line-height: 2rem;
        // margin-top: 50px;
        animation: moveInTop 0.8s ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }

    &-additional-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;

        .about-overlay {
            width: 150px;
            height: 150px;
            margin-bottom: 40px;

            &:before {
                width: 150px;
                height: 150px;
                margin-bottom: 40px;
            }
        }

        .about-photo {
            width: 150px;
            height: 150px;
            margin-bottom: 40px;

        }

        .first {
            animation-delay: 1s;
        }
  
        .second {
            animation-delay: 1.25s;
        }

        .third {
            animation-delay: 1.5s;
        }

        .fourth {
            animation-delay: 1.75s;
        }

        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

    }

    
}