@import '../../assets/styles/themeColors.scss';

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes wave {
    0% { 
        opacity: 0;
        transform: rotate(  0.0deg) 
    }
   10% { 
       opacity: 1;
       transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { 
      opacity: 1;
      transform: rotate(  0.0deg) 
    }
}

.banner {
    flex: 1 1 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;

    &-text {
        margin-top: 10rem;

        h1 {
            font-size: 4rem;
            animation: moveInRight 1s ease-out;
        }

        h1:last-of-type {
            margin-bottom: 15px;
        }

        h2 {
            opacity: 0;
            transform: translateX(-20rem);
            font-size: 1.7rem;
            color: $font-dark-gray;
            animation: moveInLeft 1s ease-out 1s;
            animation-fill-mode: forwards;
        }

    }

    &-icon {
        width: 3rem;
        height: 3rem;
        opacity: 0;
        vertical-align: inherit;
        animation-name: wave;
        animation-duration: 2s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
        // animation-iteration-count: infinite;
        transform-origin: 70% 70%;
    }
}