@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    80% {
        transform: translateY(rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact {
    margin-top: 150px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.7rem;
    opacity: 0;
    animation: moveInTop 0.8s ease-out;
    animation-fill-mode: forwards;

    &-content {
        // border: 1px solid black;
        // border-radius: 6px;
        // padding: 20px;
        // background-color: #fff8cc;

        .sparkle-emoji {
            width: 1.5rem;
            height: 1.5rem;
        }

        ul {
            margin-top: 10px;
            li {
                margin-bottom: 10px;
                :first-child {
                    margin-right: 20px;
                }
    
                :last-child {
                    vertical-align: bottom;
                }
            }
        }
    }
}