@import '../../assets/styles/media';
@import '../../assets/styles/themeColors';
@import '../../assets/styles/dimensions';

.header {
    padding: 1rem;
    display: flex;
    background-color: $header-bg;
    height: $header-height;

    &-title {
        flex: 1 1 auto;
    }

    nav {
        ul {
            display: flex;
            justify-content: flex-end;

            li {

                .active {
                    text-decoration: none;
                }
            }

            :not(:first-child) {
                margin-left: 1.5rem;
            }
        }
    }

    @include phone {
        flex-direction: column;
        align-items: center;
    }

}