@import '../../assets/styles/media';
@import '../../assets/styles/themeColors';
@import '../../assets/styles/dimensions';
@import '../../assets/styles/fonts';

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }
    80% {
        transform: translateY(rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    padding: 1rem;
    display: flex;
    opacity: 0;
    background-color: $header-bg;
    height: $header-height;
    // border-bottom: 1px solid $header-border;
    align-items: center;
    animation: moveInTop 0.5s ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    &-title {
        flex: 1 1 auto;
        font-family: $caveat;
        font-size: 25px;
    }

    nav {
        ul {
            display: flex;
            justify-content: flex-end;

            li {

                .active {
                    text-decoration: none;
                }
            }

            :not(:first-child) {
                margin-left: 1.5rem;
            }
        }
    }

    // @include phone {
    //     flex-direction: column;
    //     align-items: center;
    // }

}