@import '../../assets/styles/media';
@import '../../assets/styles/themeColors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/dimensions';

.section {
    width: 100vw;
    height: calc(100vh - #{$header-height});
    display: flex;
    flex-wrap: nowrap;

    &-title {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-align: center;
        font-size: 5rem;
        color: $font-gray;
        font-family: $montserrat;
        margin-left: 5rem;
        margin-right: 5rem;

        @include phone {
            display: none;
        }
    }
}