@import '../../assets/styles/media';
@import '../../assets/styles/themeColors';
@import '../../assets/styles/fonts';
@import '../../assets/styles/dimensions';

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: rotate(180deg) translateY(-20rem);
    }
    80% {
        transform: rotate(180deg) translateY(rem);
    }
    100% {
        opacity: 1;
        transform: rotate(180deg) translateY(0);
    }
}

.section {
    width: 100vw;
    height: calc(100vh - #{$header-height});
    display: none;

    &-active {
        display: flex;
        flex-wrap: nowrap;
    }

    &-title {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-align: center;
        font-size: 50px;
        // color: $font-gray;
        // font-family: $montserrat;
        margin-left: 5rem;
        margin-right: 5rem;
        position: relative;
        text-shadow: -3px 2px $section-title-shadow;
        animation: moveInBottom 0.6s ease-out;
        animation-fill-mode: forwards;

        @include phone {
            display: none;
        }
    }




}