@import './reset.css';
@import 'themeColors';
@import 'fonts';

body {
  font-family: $work-sans;
  overflow: hidden;
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=fafafaff&noise=626262&density=1&opacity=37')
}

.App {
    .sections-container {
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        transition: transform 1s cubic-bezier(.18,0,.13,.97);
    }
}