$font-white: #ffffff;
$font-black: #000000; 
$font-yellow:  #fcba03;
$font-gray: #e6e3e3;

$header-bg: transparent;
$header-border: #F3F3F3;

$section-title-shadow: #f5b5ea;

$nav-bg: #e6bee2;
$nav-text-color: #000000;
$nav-underline-color: #faf5eb;