$font-white: #ffffff;
$font-black: #000000; 
$font-yellow:  #fcba03;
$font-lighter-black: #2F2F2F;
$font-dark-gray: #787878;
$font-gray: #e6e3e3;

$header-bg: transparent;
$header-border: #F3F3F3;

$section-title-shadow: #f5b5ea;

$nav-bg: #fafafa;
$nav-text-color: #000000;
$nav-underline-color: #fcdeaa;

$link-underline-color: #f5b5ea;