@import '../../assets/styles/themeColors';

a {
    color: $nav-text-color;
    text-decoration: none;
    position: relative;
    z-index: 0;

    &:hover:after {
        content: "";
        z-index: 52;
        overflow: hidden;
        background-color: $nav-underline-color;
        height: 25%;
        width: 110%;
        border-radius: 10px;
        z-index: -1;
        display: block;
        position: absolute;
        bottom: 3px;
        left: -5%;
    }
}

a.active {
    &:after {
        content: "";
        z-index: 52;
        overflow: hidden;
        background-color: $nav-underline-color;
        height: 25%;
        width: 110%;
        border-radius: 10px;
        z-index: -1;
        display: block;
        position: absolute;
        bottom: 3px;
        left: -5%;
    }
}

a.dark {
    &:visited:after {
        background-color: $link-underline-color;
    }
    &:hover:after {
        background-color: $link-underline-color;
    }   
}